<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_I" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />



    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Larga"
        tools:targetApi="31">

        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyC1z9hkQLxjjLIspZP_8WwmPC6hfCVSSng" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".Customcare"
            android:exported="false"/>
        <activity
            android:name=".Promav"
            android:exported="false"/>
        <activity
            android:name=".USER_DRIVER_VIEW_HISTORY"
            android:exported="false"
            android:label="@string/title_activity_user_driver_view_history" />
        <activity
            android:name=".MapPahatid"
            android:exported="false"
            android:label="@string/title_activity_map_pahatid" />
        <activity
            android:name=".Motour_SETB"
            android:exported="false"
            android:label="@string/title_activity_motour_setb" />
        <activity
            android:name=".Motour_SETA"
            android:exported="false"
            android:label="@string/title_activity_motour_seta" />
        <activity
            android:name=".USER_DRIVER_HISTORY"
            android:exported="false" />
        <activity
            android:name=".MoTour"
            android:exported="false" />
        <activity
            android:name=".Splashscreen"
            android:exported="false" />
        <activity
            android:name=".Z_DRIVER_PROFILE"
            android:exported="false" />
        <activity
            android:name=".Z_DRIVER_HISTORY"
            android:exported="false" />
        <activity
            android:name=".Z_VIEW_REQUEST"
            android:exported="false"
            android:label="@string/title_activity_zview_request" />
        <activity
            android:name=".Z_DIVER_LIST"
            android:exported="false" />
        <activity
            android:name=".Z_DIVER_PANEL"
            android:exported="false"
            android:label="@string/title_activity_zdiver_panel" />
        <activity
            android:name=".History"
            android:exported="false" />
        <activity
            android:name=".Logout"
            android:exported="false" />
        <activity
            android:name=".Favorate"
            android:exported="false" />
        <activity
            android:name=".ChooseMap"
            android:exported="false"
            android:label="@string/title_activity_choose_map" />
        <activity
            android:name=".ChooseMotorCycle"
            android:exported="false" />
        <activity
            android:name=".USER_PANEL"
            android:exported="false" />
        <activity
            android:name=".SIGNIN"
            android:exported="false" />
        <activity
            android:name=".LOGIN"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>